body {
    font-family: 'Varela Round', sans-serif;
    color: #000;
    /* Default text color for light mode */
}

.perspective {
    width: 100%;
    perspective: 1000px;
}

.card {
    width: 270px;
    height: 413px;
    margin: auto;
    box-shadow: 0 70px 63px -60px #494848;
    transform-style: preserve-3d;
    transition: transform .05s linear;
    position: relative;
}

.thumb {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
}

.thumb::after {
    background: inherit;
    content: '';
    display: block;
    position: absolute;
    left: -60px;
    top: 40px;
    width: 100%;
    height: 108%;
    z-index: -1;
    filter: blur(55px);
}

.card h2 {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 24px;
    font-weight: 700;
    transform: translateZ(80px);
    color: #ffffff;
    /* Adjust for visibility */
}

.card span {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 16px;
    font-weight: 400;
    transform: translateZ(35px);
    color: #ffffff;
    /* Adjust for visibility */
}